@font-face {
    font-family: norse-bold;
    src: url(./font/Norse-Bold.otf);
}

html {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    
}

body {
    display: flex;
    justify-content: center;
    align-items: stretch;
    background-color: black;
    width: 70%;
    height: 100%;
    margin: 0;
    font-family: roboto, sans-serif;
}

.background-container {
    width: 100%;
    flex: 1;
    position: relative;
    overflow: hidden;
}

.jun-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 20%;
    height: 15%;
    width: 100%;
    background-color: rgb(0 0 0 / 50%);
}

.logo-img {
    height: 15vh;
    width: auto;
}

.logo > p {
    font-size: min(10vh,10vw);
    font-family: norse-bold, sans-serif;
    color: white
}

.img-credits {
    position: absolute;
    font-size: 0.7vw;
    bottom: 1%;
    text-align: center;
    left: 0;
    right: 0;
    color: white
}

.img-credits > a {
    color: white;
}

.content-container {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    --margin-left: 3vw;
    background-color: #fcfcfc;
}


.description{
    font-weight: 500;
    font-size: min(2.5vh, 3vw);
    margin-left: var(--margin-left);
    width: 38vw;
    margin-bottom: 10%;
}

form {
    background-color: white;
    box-shadow: 0px 1px 5px rgb(214, 214, 214);
}

form > legend {
    font-size: 1.5rem;
    font-weight: 500;
    color: #383a5f;
    margin-left: var(--margin-left);
}

.form-fields {
    align-self: last baseline;
    display: flex;
    flex-direction: column;
}

ul {
    margin-left: var(--margin-left);
    list-style: none;
    padding: 0;
}

ul > div {
    display: flex;
    gap: 2.5vw;
}

li {
    display: flex;
    flex-direction: column;
    align-items: first baseline;
    margin-top: 2vh;
    --form-text: 0.6rem;
}

label {
    font-size: var(--form-text);
    letter-spacing: 0.25vh;
    color: #383a5f;
    font-weight: 500;
}

input {
    border: 1px solid #E5E7EB;
    border-radius: 3px;
    width: 14vw;
    height: 2.5vh;
    padding: 1% 3%;
}

input[type="password"]:invalid,
input[type="confirm-password"]:invalid {
    border: 1px solid red;
}

input[type="password"]:valid,
input[type="confirm-password"]:valid {
    border: 1px solid rgb(82, 255, 111);
    outline: 1px solid rgba(100, 100, 100, 0.2);
}

input:focus {
    border: 1px solid rgb(1, 127, 177);
    outline: none;
    box-shadow: 2px 2px 5px rgba(100, 100, 100, 0.3);
    background-color: rgb(241, 241, 241);
}

button[type="submit"] {
    background-color: #596D48;
    font-size: min(2vw, 2vh);
    color: white;
    font-weight: 600;
    padding: 10px 40px;
    border-radius: 5px;
    border: none;
    margin-top: 5%;
    align-self: flex-start;
    margin-left: var(--margin-left);
    box-shadow: 5px 5px 15px -5px rgb(100, 100, 100);
}

.login {
    margin-top: 5%;
    font-size: min(2vw, 2vh);
    margin-left: var(--margin-left);
    font-size: 1rem;
}

.login > a {
    color: #596D48;
    font-weight: 600;
    text-decoration: none;
    font-size: 1rem;
}